*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background: #dbf159; 
}

.app{
    background: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0; 
    border-radius: 10px;
    padding: 20px;
}

.app h1{
    font-weight: 25px;
    color: crimson;
    font-weight: 600;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 20px;
    color: navy;
    font-weight: 600;
}

.btn{
    background: white;
    color: black;
    font-style: italic;
    font-weight: 500;
    width: 100%;
    border: 2px solid;
    padding: 10px;
    margin: 10px 0 auto;
    text-align: left;
    border-radius: 4px;
}

.btn:hover{
    border-color: cyan;
}

#next-btn{
    background: black;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 10px auto 0;
    border-radius: 4px;
    display: none;
}

#next-btn:hover{
    border-color: yellow;
}